<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Glenn Lyles</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		
</head>
	<body>
		<div id="header">
			<h1>Glenn Lyles</h1>
			<h2>Art Collection</h2>
		</div>
		<div>
			<%= image_tag("DSC_2296c.jpg", :alt => "Buffalo") %>	
		</div>
	</body>
</html>
